


.category h1{color: rgb(82, 82, 82); margin: 0px;
vertical-align: middle; display: block;
  line-height: 30px; 
  text-align: center;
font-weight: bold; white-space: normal;
margin-left: 5vh;
margin-right: 8vh;
border-bottom: 1px solid rgb(73, 70, 85) ;
}