.conter_list{
width: 100%;



}


  
  .items-body-content {
    /* padding: 50px; */
    padding-right: 0px;
    display: grid;
    grid-template-columns: 10fr 1fr;
     background-color: #B9E5E8;
    font-size: 20px;
    /* grid-gap: 10px; */
    border: 1px solid transparent;
    cursor: pointer;
     
  }
  .cate_img{
    width: 20vh;
    height: 6vh;
  }
  
 

  .men_list{
  
   color: rgb(82, 82, 82); font-size: 25px; line-height: 55px; font-weight: 
    normal; white-space: normal;
  }
  
  
  @keyframes icon {
    0%,100%{
      transform: translate(0px);
    }
    50% {
      transform: translate(3px);
    }
  }
  