
.effects span{
    
position: relative;
bottom: 200px;
padding: 10px; 
color: #463aee !important;
font-size: 14px;
/* margin: 5px 0px; */
box-shadow: 0px 0px 3px #999999;
background: rgb(57, 45, 126);
display: inline-block;
width: 70%; 
 }

 .image_list{
    width: 20%;
    /* height: auto; */
 }
.cards_slider{
    
}

 @media only screen and (min-width: 600px){
    .cards_slider {
        width: 10vw; 
        height: 10vh
    } 


     .image_list{
        width: 2%;
        height: auto;
    }

    .InfiniteCarouselArrowNextIcon {
position: relative !important
    }

}

@media only screen and (min-width: 400px) {
    .cards_slider{
        /* width: 140%;  */
         height: 50vh; 
    }


    .image_list{
        width: 1%;
        height: auto;
    }
} 

@media only screen and (min-width: 300px) {
    .cards_slider{
        width: 100%; 
         height: auto; 
    }


    .image_list{
        width: 5%;
        height: auto;
    }
} 

@media (min-width: 1000px) and (min-height: 700px) {
    .cards_slider {
        width: 90%; 
        height: 20vh
    } 


    .image_list{

        width: 100%;
        height: auto;
    } 

}


 .image_list{



    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
 }
 .image_list:hover{
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
 }

.effects span{
    visibility: hidden;
}
.cards_slider:hover .effects span{


    
visibility: visible;
text-decoration: none;
border-radius:4px; 

}
.effects span:hover{
    background-color: #1d347c;
    color:rgb(240, 231, 231) !important;
    cursor: pointer;
}


.cards_slider{
/* background-color:#E1E1E1; */
height: 40vh;
}