.scrolup{
  background-color: rgb(40, 5, 197);
  width: 70px;
  height: 51px;
  position: fixed;
  opacity: .8;
  z-index: 1000;
  overflow: hidden;
  cursor: pointer;
  bottom: 100px;
  right: 30px;
  text-align: center;
    box-shadow: 1px 1px 5px rgba(0,0,0,.3);;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
    /* animation-iteration-count: initial;  */
}

.fas.fa-angle-up{
    opacity: 1;
    position: relative;
    font-size: 24px; 
    color: aliceblue;
    z-index: 100;
    top:10%;
}
.fas.fa-angle-up:hover {
  animation-name: arrow;
  animation-duration: 1s;
 
  }
 
@-webkit-keyframes mymove {
    from {bottom: 0px;}
    to {bottom: 30px;}
  }
  
  @keyframes mymove {
    from {bottom: 0px;}
    to {bottom: 30px;}
  }

  /* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   { bottom: 10px;right: 30px; }
    25%  { bottom: 20px;right: 30px;}
    50%  { bottom: 30px;right: 30px;}
    75%  {  bottom:40px;right: 30px;}
    100% { bottom: 40px;right: 30px;}
  }
  
  /* Standard syntax */
  @keyframes example { 
    0%   {bottom: 10px;right: 30px; }
    25%  {bottom: 20px;right: 30px;}
    50%  {bottom: 30px;right: 30px;}
    75%  {bottom:40px;right: 30px; }
    100% {bottom: 40px;right: 30px;}
  }
  @keyframes arrow { 
    0%   {top: 0%; }
    25%  {top:-60%; }
    50%  {top: -90%;opacity: 0;z-index: -100;}
    50%  {top:90%;opacity: 1;z-index: 100;}
    100% {top: 0px;}
  }