.container{
    margin-top: 45px;
}

/* .sliderContainer {
    height: 485px;
    min-width: 1000px
} */


.slick-slide img {
    opacity: 0 !important;
    animation: slide 1s ease-in-out 1.8s forwards;
}

.slick-active img {
    opacity: 0 !important;
    animation: active 1s ease-in-out 1.8s forwards;
}
@keyframes slide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes active {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes active {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* .img_slids{
    height: 80vh;
    width: 100%;
} */

.slide1{
    opacity: 1;
    height: 80vh;
    width: 100%;
    position: relative;
    background-image: url('../../components/slider/images/menBckgr.jpg');
 
    background-repeat: no-repeat;
    background-size: cover;
   
}

.img1{
    z-index: 100;
    opacity: 0;
    width: 100%;
      height: 80vh;
    animation-name: imges  0.5s ease 2.2s forwards;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    animation-iteration-count: 10;
    animation-play-state: paused;
}
@keyframes imges {
    0% {
       
        opacity: 0.1;
    }
    100% {
    
        opacity: 1;
    }
}
/* .slide2{
    position: relative;
    background-image: url('../../components/slider/images/menStylis.jpg');
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;

   
} */
.img2{
    z-index: 100;
    opacity: 0;
    width: 80%;
    height: 80vh;
    animation-name: imges2 0.5s ease 2.2s forwards;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    animation-iteration-count: 10;
    animation-play-state: paused;
}
@keyframes imges2 {
    0% {
       
        opacity: 0;
    }
    100% {
    
        opacity: 1;
    }
}

.slide3{
    position: relative;
    background-image: url('../../components/slider/images/img3.jpg');
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
   
}
/* .img3{
    z-index: 100;
    opacity: 0;
    width: 100%;
   
    animation-name: imges2 0.5s ease 2.2s forwards;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    animation-iteration-count: 10;
    animation-play-state: paused;
}
@keyframes imges2 {
    0% {
       
        opacity: 0;
    }
    100% {
    
        opacity: 1;
    }
} */


.slide4{
    position: relative;
    background-image: url('../../components/slider/images/img4.jpg');
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.slide5{
    position: relative;
    background-image: url('../../components/slider/images/img4.jpg');
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.slide6{
    position: relative;
    background-image: url('../../components/slider/images/img1.jpg');
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
   
}

 .leftIcon, .rightIcon {
    font-size: 40px;
    opacity: 0.7;
     margin-top: 7px; 
     margin-left: 6px; 
    color: rgb(30, 13, 128);
    width: 50px;
} 
.left-arrow {
    cursor: pointer;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
background-color: white;
    z-index: 100;
    top: 40%;
    left: 2rem;
     opacity: 0; 
    transition: opacity ease-out 1s;
}


.right-arrow {
    cursor: pointer;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    z-index: 100;
    top: 40%;
    right: 2rem;
   opacity: 0; 
    transition: opacity ease-out 1s;
}


.slick-dots {
    position: absolute;
    bottom: 8px !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}


.container:hover .right-arrow { 
    opacity: 1; 

}
.container:hover .left-arrow { 
    opacity: 1; 

}
