.detail_container{
    margin: 0;
    padding: 0em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}
.detail_container .detail_card{
    width: 500px;
    justify-content: center;
}

.detail_containers{
    
    display: flex;
    flex-wrap: wrap;
  
    justify-content: center;
}


.detail_card1{
background-color: red;
/* width: 20%; */
height: 20px;
}
.detail_card2{
    background-color: rgb(71, 27, 27);
    /* width: 20%; */
    height: 20px;
    }
    .detail_card3{
        background-color: rgb(27, 5, 66);
        /* width: 20%; */
        /* height: 20px; */
        }  

.product_img{
    text-align: center;
}
.product_img img{
    width: 150px;
    height: 150px;
}
.product_img .p_ar{
    font-family: open sans,Arial,sans-serif;
    background: #fff;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 400;
    color: gray
}




/* .flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  } */