 /* .card_products{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    background: #ff11ff;
    position:absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%,-50%);
    
    } */
    /* .top-section{
    
    height: 310px;
    overflow: hidden;
    text-align: center;
    background: #fff;
    position: relative;
    
    }
    
    .img_container{
    
    width: 400px;
    height: 340px;
    
    
    }
    .nav{
        display: flex;
    justify-content: center;
        
    }
    .nav img{
    
    width: 100px;
    height: 70px;
    border: 1px solid #ddd;
    margin: 8px 2px;
    cursor: pointer;
    transition: 0.3s;
    
    }
    .nav img:hover{
        border-color:#6ab04c ;
    }
    
    .price{
    
        position: absolute;
        top: 10px;
        right: 20px;
        color: #6ab04c;
        font-size: 30px;
    
    }
    .product_info{
        text-align: left;
    padding: 24px;
    background: #6ab04c;
    }
   name_productname_product
    .dis{
    
        font-size: 16px;
        opacity: 0.7;
    }  */

    body{
       
    }

    .name_product{
        color: white;
    }


    .top-section {
        text-align: center;
        justify-content: center;
    }
    .top-section img{
    
        height: 400px;
        width: 100%;
        justify-content: center;
        text-align: center;
        background: #fff;
    }
        
      

        .main{
            width: 450px;
            border: 1px solid rgb(212, 209, 209);
            padding: 30px;

        }
    .mainvalue{
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color:#EEEEEE;
        
        /* height: 400px; */
         margin-top:80px
        /* width: 400px; */
    }


    .nav{
        
        display: flex;
    justify-content: center;
        
    }
    .nav img{
    
        width: 15vh;
        height: 80px;
        border: 1px solid #ddd;
        margin: 8px 2px;
        cursor: pointer;
        transition: 0.3s;
        
        }
        .price{
    
           
          
        
            float: right;
            color: #fbfbfb;
     
        


        }



        .product_info {
            text-align: left;
        padding: 24px;
        background: #020D75;
        }

        .product_info h2{
            color: white;
        }
        .dis{
    
            font-size: 16px;
            /* opacity: 0.7; */
            color: white;
        } 
        .deleteButton{
            text-align: right;
            color: white    ;
        }
        /* deleteButton */
        .icon_del{
            color: rgb(230, 5, 5);
            width: 50px;
            height: 50px;
        }
        .buttondel{
            color: rgb(39, 17, 119);
           
        }